@using API.Models.Emailing.PasswordReset
@model PasswordResetEmailModel

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style type="text/css">
      @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        src: url('https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm45xWxZ.woff2') format('woff2');
      }

      @@font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        src: url('https://fonts.gstatic.com/s/montserrat/v25/JTURjIg1_i6t8kCHKm45_TZF7g.woff2') format('woff2');
      }

      body {
        color: #111827;
      }

      .font-montserrat {
        font-family: 'Montserrat', Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
      }

      .greeting {
        font-size: 22px;
        font-weight: 700;
      }

      .ignore-message {
        font-size: 12px;
        color: #6b7280;
      }
    </style>
  </head>

  <body class="font-montserrat">
    <h1 class="greeting font-montserrat">
      Hi, @Model.Username!
    </h1>

    <p>
      We received a request to reset your password.
    </p>

    <a
      href="@Model.ResetPasswordLink"
      style="display: inline-block; padding: 12px 16px; border-radius: 8px; text-decoration: none !important; background-color: #a855f7; color: #ffffff; font-weight: 700;"
      class="font-montserrat"
    >
      Reset password
    </a>

    <p class="ignore-message">
      If you didn't request this, you can ignore this message.
    </p>
  </body>
</html>
