@tailwind base;
@tailwind components;
@tailwind utilities;

/********** FONTS **********/
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.fnt-montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; 
  font-style: normal;
}

.fnt-montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}

.fnt-montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: normal;
}

.fnt-montserrat-black {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900; 
  font-style: normal;
}

/********** CUSTOM CSS **********/
a {
  color: rgba(0, 200, 255, 255);
  text-decoration: underline;
}