@tailwind base;
@tailwind components;
@tailwind utilities;

/********** FONTS **********/
/* Montserrat */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap'); */

.fnt-montserrat-light {
  @apply font-light;
  font-family: "Montserrat", sans-serif;
}

.fnt-montserrat-regular {
  @apply font-normal;
  font-family: "Montserrat", sans-serif;
}

.fnt-montserrat-bold {
  @apply font-bold;
  font-family: "Montserrat", sans-serif;
}

.fnt-montserrat-black {
  @apply font-black;
  font-family: "Montserrat", sans-serif;
}

/********** CUSTOM CSS **********/
a {
  color: rgb(19, 104, 206);
  text-decoration: underline;
}

.div-animation {
  width: 100px;
  height: 100px;
  background-color: blue;
}